@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  margin: 0;
  background-color: #fff;
}

h1, h2 {
  font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

header,
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1em;
  text-align: center;
}

header nav {
  margin-top: 0.5em;
}

main {
  padding: 1em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1em;
  font-family: var(--secondary-font);
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

.hide {
  display: none;
}

@media (min-width: 1000px) {
  .menu {
    display: flex !important; 
  }

  .menu-button {
    display: none;
  }
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  z-index: 10;
}

.modal img {
  display: block;
  margin: 20vh auto;
  width: 90%;
  max-height: 100%;
}

.close-viewer {
  position: absolute;
  top: 20vh;
  right: 5vw;
  background: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
